<section class="video-container">
    <%= @video.title %><br/><br/>
    <iframe src="<%= @video.video_url%>">
    </iframe><br/>
    <%= @video.caption %><br/><br/>
</section>
<%= @video.summary %><br/><br/>
